<main class="main-section">
<h2 class="title"> This Is a new user </h2>
<div class="sign_out_btn">
  <button>
    <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
  </button>
</div>
</main>
