* {
  margin: 0;
  padding: 0;
  list-style: unset;
}

.main-section {
  background-color: rgb(206, 173, 173);
  align-items: center;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.recipe-block {
  border: 1px solid black;
  display: flex;
  gap: 10vw;
  padding: 0.5vw;
  margin-bottom: 2vh;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  padding: 2vw;
}

.public-btn {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

.public-btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vw;
}
