* {
  margin: 0;
  padding: 0;
  list-style: unset;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;

  /* border: 1px solid black; */
}

.main-section {
  background-color: rgb(247, 204, 204);
  align-items: center;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.recipe-block {
  border: 1px solid black;
  display: flex;
  gap: 10vw;
  padding: 0.5vw;
  margin-bottom: 2vh;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  padding: 2vw;
}

.public-btn {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

.public-btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vw;
}

/* Navbar */
.navbar {
  display: flex;
  height: 10vh;
  background-color: #f4eded;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 5vw 0 5vw;
}

.nav-links {
  display: flex;
  gap: 2vw;
  cursor: pointer;
}

/* login */
.form {
  background-color: #f4eded;
  display: block;
  padding: 2vw;
  max-width: 300px;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 5vh auto 5vh auto;
}

.form-title {
  font-size: 1.25vw;
  line-height: 1.75vw;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 1vh 0;
}

.input-container input {
  background-color: #fff;
  padding: 1vw;
  font-size: 0.875vw;
  line-height: 1.25vw;
  width: 275px;
  border-radius: 0.5vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75vw;
  padding-bottom: 0.75vw;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  background-color: #4f46e5;
  color: #fff;
  font-size: 0.875vw;
  line-height: 1.25vw;
  font-weight: 500;
  width: 50%;
  border-radius: 0.5vw;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875vw;
  line-height: 1.25vw;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.sign-btn {
  background: unset;
  border: none;
  color: white;
}
